<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keys" content="">
    <meta name="author" content="">
	<link rel="stylesheet" type="text/css" th:href="@{bootstrap/css/bootstrap.min.css}" >
	<link rel="stylesheet" type="text/css" th:href="@{css/font-awesome.min.css}" >
	<link rel="stylesheet" type="text/css" th:href="@{css/login.css}" >
	 <script th:src="@{/jquery/jquery-2.1.1.min.js}" ></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}" ></script>
     <script th:src="@{/script/layer/layer.js}" ></script>
      	<!--引入弹窗组件end-->
	<script type="text/javascript" th:src="@{/js/jquery.tips.js}" ></script>
	<style>

	</style>
  </head>
  <body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
        <div class="navbar-header">
          <div><a class="navbar-brand" href="#" style="font-size:32px;">Wlcome-李涛-QQ号测凶吉-App</a></div>
        </div>
      </div>
    </nav><br><br>
  
  		<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12" >
			<form class="form-search" style="margin-left: 500px">
				<input id="queryText" class="input-medium search-query" type="text" />
				<br/><br/>
				<!--  <button type="submit" id="queryBtn" class="btn">查找</button> -->
				<a style="width:80px;height: 35px;margin-left: 40px;float:left" class="btn btn-lg btn-success btn-block" onclick="pageQuery()" >查找</a>
			
			</form>
				
				
			<br><br>
			<div class="carousel slide" id="carousel-367287" style="background-color:#EF8530;width:70%;margin-left: 150px;padding: 0px 0px 0px 0px;">
				<ol class="carousel-indicators" id="ol">
					<!-- <li class="active" data-slide-to="0" data-target="#carousel-367287">
					</li>
					<li data-slide-to="1" data-target="#carousel-367287">
					</li>
					<li data-slide-to="2" data-target="#carousel-367287">
					</li> -->
				</ol>
				<div class="carousel-inner" id="divdream" style="background-color: green">
					
					<div class="item active" >
						<img src="/bootstrap/img/bangqiu.jpg" />
						<div class="carousel-caption" style="">
							<h4>
							<font color="#FCFFFF">
								QQ号测凶险
							</font>
							</h4>
							<p>
							<font color="#FCFFFF">
								立足技术顶层
							</font>
							</p>
						</div>
						</div>
					</div>
		<a  data-slide="prev" href="#carousel-367287" class="left carousel-control"></a> <a data-slide="next" href="#carousel-367287" class="right carousel-control"></a>
				</div> 
			</div>
		</div>
	</div>
<div>
<ul id="attr_list_select_class_1" style="width:70px;"></ul>
</div>

   
  </body>
   <script >
/*    $("#queryBtn").click(function() {
   	var queryText = $("#queryText");

   
  // 	pageQuery();
	/*var jsonData = {
  			
   	};
	jsonData["dreamInfo"] = $("#queryText").val();
   	$.ajax({
   		url:"getDream",
   		data:jsonData,
   		success:function(rersult){
   			alert(1);
   		}
   	})
   
  
   }); */
	function dowloading(){
	   var dreamInfo = $("#queryText");
	   var jsonData = {
	  			
	   	};
	   if ( dreamInfo.val() == "" ) {
	   		layer.msg("请输入查询条件", {time:1000, icon:5, shift:6}, function(){
	   			dreamInfo.focus();
	   		});
	   		 return; 
	   	}
	  dreamInfo = $("#queryText").val();
	 window.location.href="expdream?dreamInfo="+dreamInfo;
   }
   function pageQuery() {
		var queryText = $("#queryText");
		var num = 0;
		var con = "";
		var jsonData = {
	  			
	   	};
		if ( queryText.val() == "" ) {
	   		layer.msg("请输入查询条件", {time:1000, icon:5, shift:6}, function(){
	   			queryText.focus();
	   		});
	   		 return; 
	   	}
		 regex =/^[1-9][0-9]{4,10}$/;
	//	 var s=new RegExp(regex);
		 if(!regex.test(queryText.val()))   
		 {   
			 layer.msg("请输入正确QQ号", {time:1000, icon:5, shift:6});
			 return;
		 }
 	jsonData["qqNum"] = $("#queryText").val();
   	$.ajax({
   		url:"getqqforecast",
   		data:jsonData,
   		headers:{"token" :sessionStorage.getItem("token")},
   		success:function(result){
   			if ( result.success == true) {
   				var qqPage = result.data;
   				var dataContent = "";
   					dataContent = dataContent + '<div class="item active" >';
   					dataContent = dataContent + '<img src="/bootstrap/img/bangqiu.jpg" />';
   					dataContent = dataContent + '<div class="carousel-caption" >';
   					dataContent = dataContent + '<h4>';
   					dataContent = dataContent +'<font color="green" size="5">'+qqPage.conclusion+'</font>';
   					dataContent = dataContent +'</h4><p>';
   					dataContent = dataContent +'<font color="#0303FA" size="4">'+qqPage.analysis+'</font>';
   					dataContent = dataContent +'</p></div></div>';
   				
   						con = con+'<li class="active" data-slide-to="'+0+'" data-target="#carousel-367287"></li>'
   						$("#ol").html(con);
   		   				$("#divdream").html(dataContent);
   			} else {
   	        	layer.msg(result.msg, {time:1000, icon:5, shift:6});
   			} 
   		}
   	});
   }
    </script>
</html>
