<%@page pageEncoding="UTF-8"%>
<%@taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

     <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/doc.min.css}" >
      <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/pagination.css}" >
    <style>
    .tree li {
        list-style-type: none;
        cursor:pointer;
    }
    </style>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
            <div><a class="navbar-brand" style="font-size:32px;" href="user.html">笑话APP - 用户维护</a></div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li style="padding-top:8px;">
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-success dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i> <span id = "button"></span> <span class="caret"></span>
                  </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><i class="glyphicon glyphicon-cog"></i> 个人设置</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 消息</a></li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="glyphicon glyphicon-off"></i> 退出系统</a></li>
                      </ul>
                </div>
            </li>
            <li style="margin-left:10px;padding-top:8px;">
                <button type="button" class="btn btn-default btn-danger">
                  <span class="glyphicon glyphicon-question-sign"></span> 帮助
                </button>
            </li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
         <div class="tree">
                <ul style="padding-left:0px;" class="list-group" id = "listul">
                </ul>
            </div>
        </div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <ol class="breadcrumb">
                  <li><a href="#">首页</a></li>
                  <li><a href="#">数据列表</a></li>
                  <li class="active">新增</li>
                </ol>
            <div class="panel panel-default">
              <div class="panel-heading">表单数据<div style="float:right;cursor:pointer;" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-question-sign"></i></div></div>
              <div class="panel-body">
                <form role="form" id="userForm" action="/user/add">
                  <div class="form-group">
                    <label for="exampleInputPassword1">登陆账号</label>
                    <input type="text" class="form-control" name="loginacct" placeholder="请输入登陆账号">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">用户名称</label>
                    <input type="text" class="form-control" name="username" placeholder="请输入用户名称">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">电话号码</label>
                    <input type="text" class="form-control" name="phone" placeholder="请输入电话号码">
                  </div>
                  <div class="form-group">
                  
                    <label for="exampleInputEmail1">邮箱地址</label>
                    <input type="email" class="form-control" name="email" placeholder="请输入邮箱地址">
                    <p class="help-block label label-warning">请输入合法的邮箱地址, 格式为： xxxx@xxxx.com</p>
                  </div>
                  <div class="form-group has-success has-feedback">
            <select id="usertype" class="form-control" >
                <option >会员</option>
                <option >管理员</option>
            </select>
          </div>
                  <button type="button" class="btn btn-success" id="insertBtn" ><i class="glyphicon glyphicon-plus"></i> 新增</button>
                  <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-refresh"></i> 重置</button>
                </form>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">帮助</h4>
          </div>
          <div class="modal-body">
            <div class="bs-callout bs-callout-info">
                <h4>测试标题1</h4>
                <p>测试内容1，测试内容1，测试内容1，测试内容1，测试内容1，测试内容1</p>
              </div>
            <div class="bs-callout bs-callout-info">
                <h4>测试标题2</h4>
                <p>测试内容2，测试内容2，测试内容2，测试内容2，测试内容2，测试内容2</p>
              </div>
          </div>
          <!--
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
          -->
        </div>
      </div>
    </div>
    
        <script type="text/javascript" th:src="@{/jquery/jquery-2.1.1.min.js}" ></script>
        <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}" ></script>
         <script type="text/javascript" th:src="@{/jquery/jquery-form.min.js}" ></script>
         <script type="text/javascript" th:src="@{/script/docs.min.js}" ></script>
        <script type="text/javascript" th:src="@{/script/layer/layer.js}" ></script>
            <!--引入弹窗组件end-->
        <script  type="text/javascript" th:src="@{/js/jquery.tips.js}" ></script>
        <!-- 分页插件 -->
        <script type="text/javascript" th:src="@{/js/jquery.pagination.js}"></script>
        <script th:inline="javascript">
            $(function () {
            	var userName = sessionStorage.getItem('loginacct');
                 $('#button').text(userName);
                $(".list-group-item").click(function(){
                    if ( $(this).find("ul") ) {
                        $(this).toggleClass("tree-closed");
                        if ( $(this).hasClass("tree-closed") ) {
                            $("ul", this).hide("fast");
                        } else {
                            $("ul", this).show("fast");
                        }
                    }
                });
            });
            $("#insertBtn").click(function(){
                var loadingIndex = -1;
                var usertype = $("#usertype").val();
                var jsonData = {"type" : usertype };
                //$("#userForm").submit();
                $("#userForm").ajaxSubmit({
                	
                	
                    beforeSubmit : function() {
                        loadingIndex = layer.load(2, {time: 10*1000});
                    },
                    data:jsonData,
                    success : function(result) {
                        layer.close(loadingIndex);
                        if (result.code == 0) {
                            window.location.href = "/user/index";
                        } else {
                            layer.msg("用户信息保存失败", {time:1500, icon:5, shift:6});
                        }
                    }
                });
                return;
                /*
                var loginacct = $("#loginacct");
                if ( loginacct.val() == "" ) {
                    layer.msg("登录账号不能为空，请输入", {time:1000, icon:5, shift:6}, function(){
                        loginacct.focus();
                    });
                    return;
                }
                var loadingIndex = -1;
                $.ajax({
                    type : "POST",
                    url  : "${APP_PATH}/user/insert.do",
                    data : {
                        "loginacct" : $("#loginacct").val(),
                        "username"  : $("#username").val(),
                        "email"     : $("#email").val()
                    },
                    beforeSend : function() {
                        loadingIndex = layer.load(2, {time: 10*1000});
                    },
                    success : function(result) {
                        layer.close(loadingIndex);
                        if (result.success) {
                            window.location.href = "${APP_PATH}/user/index.htm";
                        } else {
                            layer.msg("用户信息保存失败", {time:1500, icon:5, shift:6});
                        }
                    }
                });
                */
            });
            function add(){
                var loadingIndex = -1;
                $("#addForm").ajaxSubmit({
                    
                    beforeSubmit:function(){
                        loadingIndex = layer.load(2, {time: 10*1000});
                    },
                    success:function(result){
                        if(result.success){
                            window.location.herf="${APP_PATH}/user/index.htm";
                        }else{
                            layer.msg("用户信息保存失败", {time:1500, icon:5, shift:6});
                        }
                    }
                });
                return false;
            }
        </script>
  </body>
</html>
