
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keys" content="">
    <meta name="author" content="">
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" >
	<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" >
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" >
	 <script th:src="@{/jquery/jquery-2.1.1.min.js}" ></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}" ></script>
     <script th:src="@{/script/layer/layer.js}" ></script>
      	<!--引入弹窗组件end-->
	<script type="text/javascript" th:src="@{/js/jquery.tips.js}" ></script>
	<style>

	</style>
  </head>
  <body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
        <div class="navbar-header">
          <div><a class="navbar-brand" href="#" style="font-size:32px;">Wlcome-To-XiaoHua-App</a></div>
        </div>
      </div>
    </nav><br><br><br><br>
  
  		<div class="row placeholders" style="background-color:16763337;height: 500px">
					<div class="col-xs-6 col-sm-3 placeholder" style="margin-left: 150px">
						<img src="/bootstrap/img/xh.jpg" class="img-responsive"
							alt="Generic placeholder thumbnail">
						<h4 >
							<font color="#D65F5F">笑话大全，你想要的这里都有</font>
						</h4>
						<span class="text-muted" id="span1">
							<a class="btn btn-primary" href="#" onclick="xiaoHua()">笑话</a> 
						</span>
					</div>
					<div class="col-xs-6 col-sm-3 placeholder">
						<img src="/bootstrap/img/zgjm.jpg" class="img-responsive"
							alt="Generic placeholder thumbnail">
						<h4 style="background-color: 14049119">
							<font color="#D65F5F">庄周给君解梦</font>
						</h4>
						<span class="text-muted" id="span2">
						<a class="btn btn-primary" href="#" onclick="dream()">周公解梦</a> 
						</span>
					</div>
					<div class="col-xs-6 col-sm-3 placeholder">
						<img src="/bootstrap/img/meinv.jpg" class="img-responsive"
							alt="Generic placeholder thumbnail">
						<h4 ><font color="#D65F5F">你想看的這裡都有</font> </h4>
						<span class="text-muted" id="span3">
						<a class="btn btn-primary" href="#" onclick="qqforecast()">小電影</a> 
						</span>
					</div>
					
				</div>

   
  </body>
   <script >
   function xiaoHua(){
	   window.location.href = "/xiaohua?token="+sessionStorage.getItem('token');
   }
   function dream(){
       window.location.href = "/toDream?token="+sessionStorage.getItem('token');
   }
   function qqforecast(){
       window.location.href = "/film/mebmain?token="+sessionStorage.getItem("token");
   }
    </script>
</html>
